[Unit]
Description=Flask Shared DB Application
After=network.target postgresql.service

[Service]
Type=simple
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory={{ flask_app_dir }}/current
Environment=DB_HOST={{ db_host }}
Environment=DB_NAME={{ db_name }}
Environment=DB_USER={{ db_user }}
Environment=DB_PASS={{ db_password }}
ExecStart=/usr/bin/python3 app.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target